/* --- start of CSS reset --- */
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
  background: transparent;
  font-family: inherit;
}

a {
  text-decoration: none;
}

a img {
  border: none;
}

button,
a {
  cursor: pointer;
  color: inherit;
}

textarea {
  resize: none;
}

button,
textarea,
select {
  appearance: none !important;
  border-radius: 0;
}
/* --- end of CSS reset --- */

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

/* this class is applied to all four containers  */
.container {
  height: 100vh;
  width: 100%;
  display: flex;
}

/* first page */
.landingPage {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  background-image: url("img/background\(2\).png");
  background-color: #cccccc;
  background-repeat: no-repeat;
  background-size: 100%;
  color: white;
  font-family: "Raleway", sans-serif;
}
.landingPageTitle {
  background-color: #e3913fb2;
  font-family: "Raleway", sans-serif;
}
.landingPageCenter {
  background-color: #e3913fb2;
  height: 50vh;
  width: 35vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-family: "Raleway", sans-serif;
}
.landingPageCenter button {
  font-size: 4vh;
  background-color: #e3913f;
  font-family: "Raleway", sans-serif;
}

/* second page  */
.introPage {
  background-image: url("img/background(2).png");
  background-color: #cccccc;
  background-repeat: no-repeat;
  background-size: 100%;
  font-size: 16px;
  font-family: "Raleway", sans-serif;
  flex-flow: row wrap;
  color: white;
  text-align: center;
  justify-content: center;
}

/* third page */
.honorPage {
  display: flex;
  flex-direction: column;
  height: 200vh; /* 2x bigger than other sections */
}
.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 50vh;
}
.row .honorPageImage img:hover {
  filter: none;
  transition: all ease-in-out 0.3s;
}
.honorPageImage {
  display: flex;
  width: 100%;
  height: 50vh;
  position: relative;
  overflow: hidden;
}
.honorPageImage img {
  filter: blur(6px);
  margin: -5px -10px -10px -5px;
  width: 100%;
}
.honorTextRight {
  position: absolute;
  width: 50%;
  left: 80%;
  height: 50vh;
  text-align: left;
  flex-direction: column;
  background-color: #e3913fd9;
  font-family: "Roboto", sans-serif;
  color: white;
  border-left: 8px solid #6a4811;
  box-shadow: -10px 0px 4px 3px rgba(0, 0, 0, 0.25);
  border-radius: 10px 0px 0px 10px;
}
.honorTextRight:hover {
  left: 50%;
  transition: all ease-in-out 0.5s;
}
.honorTextRight h2 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  margin: 2rem;
}
.honorTextRight p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  margin: 2rem;
  margin-right: 10rem;
}
.honorTextLeft {
  position: absolute;
  width: 50%;
  right: 80%;
  height: 50vh;
  text-align: right;
  flex-direction: column;
  background-color: #e3913fd9;
  font-family: "Roboto", sans-serif;
  color: white;
  background: rgba(227, 145, 63, 0.85);
  border-right: 8px solid #6a4811;
  box-shadow: 10px 0px 4px 3px rgba(0, 0, 0, 0.25);
  border-radius: 0px 10px 10px 0px;
}
.honorTextLeft:hover {
  right: 50%;
  transition: all ease-in-out 0.5s;
}
.honorTextLeft h2 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  margin: 2rem;
}
.honorTextLeft p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  margin: 2rem;
  margin-left: 10rem;
}

/* fourth page  */
.contactPage {
  background-image: url("img/background(2).png");
  background-repeat: no-repeat;
  background-size: 100%;
}
iframe {
}
